@import '~node_modules/modern-normalize/modern-normalize.css';

body {
  background: green;
     position: relative;
}

.container {
    width: 100%;
    min-height: 954px;
    
    margin: 0 auto;
    // padding: 0 110px;
    padding-top: 79px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

address {
  font-style: normal;
}

img {
  display: block;
  min-height: auto;
  max-width: 100%;
  object-fit: cover;
}

.hidden {
  display: none;
  visibility: hidden;
  position: relative;
  opacity: 0;
  width: 1px;
  height: 1px;
  margin: 0;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.transition{
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition:all 0.5s ease-in-out;
  -o-transition:all 0.5s ease-in-out;
  transition:all 0.5s ease-in-out;
}