.date-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  width: 630px;
  height: 278px;
  padding-left: 110px;
  background: rgba(16, 33, 54, 0.6);
  // border-radius: 0px 34px 0px 0px;
  border-radius: 34px;
  box-shadow: 0px 8px 43px 0px rgba(16, 33, 54, 0.6);
}

// .date-wrapper {
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   align-items: flex-start;
//   gap: 10px;
// }

.date-day-span {
  width: 100%;
  height: 96px;
  color: #fff;
  font-family: Lato;
  font-size: 90px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: 3.6px;
}

.month-time-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.month-time-wrapper {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.month-span {
  color: #fff;
  font-family: Lato;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.72px;
}

.time-span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 77px;
  color: #fff;
  font-family: Lato;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.72px;
}

.time-line-span {
  width: 0px;
  height: 22px;
}

.time-line-icon {
  width: 2px;
  height: 22px;
  stroke-width: 1px;
  stroke: #fff;
  opacity: 0.4;
}

.date-time-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.date-time-item {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.date-sun-span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
}

.date-sun-icon {
  width: 20px;
  height: 20px;
}

.date-sun-rise-span,
.date-sun-set-span {
  color: #fff;
  font-family: Lato;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.72px;
}
