.fivedays-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fivedays-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: -35px;
}

.fivedays-country-container {
  display: flex;
  gap: 115;
  justify-content: center;
  align-items: center;
}

.fivedays-country {
  display: flex;
  width: 290px;
  height: 40px;
  flex-direction: column;
  justify-content: center;
  color: #fff;
  text-align: center;
  font-family: Lato;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.12px;
}

.fivedays-result-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  width: 1060px;
  min-height: 308px;
  border-radius: 34px;
  background: rgba(16, 33, 54, 0.8);
  /* shadow */
  box-shadow: 0px 8px 43px 0px rgba(16, 33, 54, 0.6);
  padding: 40px 110px;
}

.fivedays-result-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
}

.fivedays-result-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
}

.fivedays-result-item:hover {
  background-color: rgba(255, 255, 255, 0.12);
}

.fivedays-week {
  color: #fff;
  text-align: center;
  font-family: Lato;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.72px;
  opacity: 0.55;
  margin-bottom: 10px;
}

.fivedays-week-active {
  background-color: rgba(255, 255, 255, 0.12);
}

.fivedays-week-active .fivedays-week {
  color: #ff6b09;
  opacity: 1;
  font-style: bold;
}

// .fivedays-result-item:hover .fivedays-week {
//     color: #ff6b09;
//     opacity: 1;
//     font-style: bold;
// }

.fivedays-date {
  color: #fff;
  text-align: center;
  font-family: Lato;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1px;
  margin-bottom: 20px;
}

.fivedays-weather-span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  margin-bottom: 35px;
}

.fivedays-weather-icon {
  width: 100%;
  height: 100%;
}

.fivedays-range-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.fivedays-range-item {
  width: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fivedays-range {
  color: #fff;
  text-align: center;
  font-family: Lato;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  opacity: 0.55;
}

.fivedays-temp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: #ff6b09;
  text-align: center;
  font-family: Lato;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.fivedays-more-info {
  display: flex;
  height: 20px;
  background: none;
  border: none;
  flex-direction: column;
  justify-content: center;
  color: #fff;
  text-align: center;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  position: relative;
  opacity: 0.3;
  cursor: pointer;
}

.fivedays-more-info:hover::after,
.fivedays-week-active .fivedays-more-info::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 0.5px; /* Adjust thickness */
  background-color: #fff; /* Adjust color */
  bottom: 1px; /* Adjust position */
  left: 0;
}

@media (max-width: 1080px) {
  .fivedays-result-container {
    width: 620px;
    padding: 35px;
  }

  .fivedays-result-list {
    gap: 20px;
  }
  .fivedays-range-item {
    width: 40px;
  }
}