.more-info-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.more-info-item {
  min-width: 120px;
  min-height: 218px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 25px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 15px 0 18px;
  gap: 10px;
}

.more-info-time {
  width: 82px;
  height: 20px;
  color: #fff;
  text-align: center;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  opacity: 0.54;
}

.more-info-weather-span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
}

.more-info-weather-icon {
  width: 100%;
  height: 100%;
}
.more-info-temp {
  width: 50px;
  height: 30px;
  color: #ff6b09;
  text-align: center;
  font-family: Lato;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.more-info-container {
  position: relative;
}

.more-info-result-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.more-info-button {
  background: none;
  border: none;
  stroke: rgba(255, 255, 255, 0.5);
  cursor: pointer;
  position: absolute;
  right: 20px;
}

.more-info-button:hover {
  stroke: rgba(255, 255, 255);
}

.more-info-result-item {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

// .more-info-result-icon {
//     width: 20px;
//     height: 20px;
// }

.more-info-result {
  width: 58px;
  height: 20px;
  color: #fff;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  opacity: 0.54;
  position: relative;
}

// .more-info-result::before {
//     content: "";
//     position: absolute;
//     width: 28px;
//     height: 24px;
//     background-image: url("/src/images/barometer.png")
// }
@media (max-width: 1080px) {
  .more-info-container {
    width: 100%;
    position: relative;
    overflow: hidden;
  }
  .more-info-list {
    justify-content: flex-start;
    overflow-x: auto;
    scroll-behavior: smooth; /* Smooth scroll effect */
    /* Hide scrollbar */
    scrollbar-width: none; /* Firefox */
    margin-bottom: 30px;
  }
  .more-info-button {
    top: 255px;
    right: 20px;
  }
  
  //this is relative to fivedays-result-container
  .scroll-btn button {
    position: absolute;
    background: transparent;
    border: none;
    cursor: pointer;
  }

  .scrollLeft {
    left: 20px;
    bottom: 20px;
  }

  .scrollRight {
   right: 20px;
   bottom: 20px;
  }
}
