<div class="favorite-container">
  <button class="favorite-arrow-btn" id="scrollLeft">
    <svg
      class="favorite-arrow-icon"
      xmlns="http://www.w3.org/2000/svg"
      width="28"
      height="28"
      viewBox="0 0 28 28"
      fill="none"
      id="arrow-left"
    >
      <circle cx="14" cy="14" r="14" fill="currentColor" fill-opacity="0.2" />
      <path d="M16 11L12 15L16 19" stroke="currentColor" stroke-width="1.5" />
    </svg>
  </button>
  <ul class="favorite-country-list">
    <!-- <li class="favorite-country-item">
        <span class="favorite-country">${favorite}</span>
        <button class="favorite-close-btn">
          <svg class="favorite-close-icon">
            <use href="/src/images/icons.svg#close1"></use>
          </svg>
        </button>
      </li> -->
  </ul>
  <button class="favorite-arrow-btn" id="scrollRight">
    <svg
      class="favorite-arrow-icon"
      xmlns="http://www.w3.org/2000/svg"
      width="28"
      height="28"
      viewBox="0 0 28 28"
      fill="none"
      id="arrow-right"
    >
      <circle cx="14" cy="14" r="14" fill="currentColor" fill-opacity="0.2" />
      <path d="M12 11L16 15L12 19" stroke="currentColor" stroke-width="1.5" />
    </svg>
  </button>
</div>
