<div class="more-info-container hidden">
  <ul class="more-info-list">
    <!-- <li class="more-info-item">
          <span class="more-info-time">00:00</span>
          <span class="more-info-weather-span">
            <svg class="more-info-weather-icon">
              <use href="/src/images/icons.svg#cloudy"></use>
            </svg>
          </span>
          <span class="more-info-temp">-2°</span>
          <ul class="more-info-result-list">
            <li class="more-info-result-item">
              <svg class="more-info-result-icon">
                <use href="/src/images/icons.svg#barometer"></use>
              </svg>
              <span class="more-info-result">772 mm</span>
            </li>
            <li class="more-info-result-item">
              <svg class="more-info-result-icon">
                <use href="/src/images/icons.svg#humidity"></use>
              </svg>
              <span class="more-info-result">54%</span>
            </li>
            <li class="more-info-result-item">
              <svg class="more-info-result-icon">
                <use href="/src/images/icons.svg#wind"></use>
              </svg>
              <span class="more-info-result">3.7 m/s</span>
            </li>
          </ul>
        </li>
      </ul>
    </li> -->
  </ul>
</div>
