<div class="search">
  <div class="searchBar">
    <img src="images/location.svg" class="location" alt="location">
    <input type="text" placeholder="Enter the city" />
    <img src="images/star.svg" class="star" alt="star">
  </div>
  <div class="cities">
    <ul class="tags">
      <li class="tag">
        <span>Kyiv</span>
        <img src="images/close.svg" class="close" alt="close">
      </li>
      <li class="tag">
        <span>Paris</span>
        <img src="images/close.svg" class="close" alt="close">
      </li>
      <li class="tag">
        <span>Vinnytsya</span>
        <img src="images/close.svg" class="close" alt="close">
      </li>
      <li class="tag">
        <span>Warsaw</span>
        <img src="images/close.svg" class="close" alt="close">
      </li>
    </ul>
    <img src="images/arrow-right.svg" class="arrow-right" alt="arrow-right">
  </div>
</div>
